body{
    height: 100vh;
    background-image: linear-gradient(to left top, #a361ec, #9552c8, #8444a7, #723787, #5f2c6a, #52255c, #461e4f, #3a1742, #32113f, #2b0c3c, #22073a, #1a0037);

}

.back{
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: transparent;
    backdrop-filter: blur(15px);
    position: relative;
    align-content: center;
    border: 5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 5px 20px ;
    margin:  5px;
    width: 300px;
    height: 350px;
    text-align: center;
    box-shadow: #494949;
}

.title-login{
    font-family: sans-serif;
    font-size: 200%;
    font-weight: bold;
    padding: 0px 5px 30px 5px;
    color: #ffffff;

}

input[type="text"],
input[type="password"]{
    font-family: sans-serif;
    border-radius: 5px;
    color: #555;
    outline: none;

    width: 300px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-container{
    padding-top: 20px;
}

.btn-login{
    font-family: sans-serif;
    padding: 12.5px 30px 12.5px 30px;
    border: 0;
    border-radius: 25px;
    background-color: #517cb4;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
    width: 100%;
}   

.btn-login:hover{
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.btn-login:active{
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.backbtn{
    top: 20px;
    left: 20px;
    position: fixed;
    cursor: pointer;
    font-size: 40px;
    color: white;
}




